# Node
node_modules/

# Builds
dist/
build/
client/dist/
server/dist/

# Logs
logs/
*.log

# Environment files
.env
.env.local
*.local

# OS + Editor junk
.DS_Store
*.swp
.idea/
.vscode/

# Optional VSCode exceptions (allowing only specific settings)
!.vscode/extensions.json

# Accidental SSH artifacts
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

# Windows/IDE files (safe even if you're on macOS)
*.suo
*.ntvs*
*.njsproj
*.sln